path {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis path,
.axis line {
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.x.axis path,
.x.axis line {
  display: none;
}

.y.axis .tick line {
  opacity: 0.1;
}
