path,
circle {
  stroke: steelblue;
  stroke-width: 2px;
}

path {
  fill: none;
}

circle {
  fill: #fff;
}

.area {
  fill: rgba(176, 196, 222, 0.3);
  stroke-width: 0;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.axis .tick line {
  opacity: 0.1;
}
